#heading{
    color:red;
    color:blue;
    color:#040561;
    color:rgb(75, 170, 75);
    color:blue;
    background-color:grey;
    background-image:url('images/WhatsApp\ Image\ 2025-06-15\ at\ 12.41.26_01b3cb81.jpg');
    background-repeat: repeat;
    background-attachment:fixed;
    background-position:center;
} 